<%= form_for @artikel, :html => { :class => "form-horizontal artikel" } do |f| %>

    <% if @artikel.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@artikel.errors.count, "error") %> prohibited this artikel from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @artikel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :thema, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_check_boxes :thema_ids, Thema.all, :id, :name, :class => 'form-control' %>
      </div>
      <%= error_span(@artikel[:thema_ids]) %>
    </div>

    <div class="control-group">
      <%= f.label :autor, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :autor, Autor.all.collect { |a| [a.name, a.id]},  :class => 'form-control'%>
      </div>
      <%= error_span(@artikel[:autor]) %>
    </div>


  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@artikel[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :text, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :text, :class => 'form-control' %>
    </div>
    <%= error_span(@artikel[:text]) %>
  </div>



  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            artikels_path, :class => 'btn btn-default' %>

<% end %>
