<%- model_class = Artikel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

    <% @artikels.each do |artikel| %>
      <span>
         <div class="jumbotron">
          <h1><%= artikel.name %></h1>

            <% artikel.themas.each do |t| %>
              <p><%= t.name %></p>

            <% end %>

          <p><%= artikel.text %></p>
          <p><%= artikel.datum %></p>
        </div>
       </span>
    <% end %>
